In [1]:
%matplotlib inline
import pandas as pd

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [3]:
titles[titles['year'] == 1894]

             title  year
193222  Miss Jerry  1894

### How many movies are listed in the titles dataframe?

In [4]:
titles['title'].isna().sum()

0

In [5]:
titles['title'].shape

(244914,)

In [6]:
titles.dtypes

title    object
year      int64
dtype: object

### What are the earliest two films listed in the titles dataframe?

In [7]:
values = titles.sort_values(by = ['year'], ignore_index=True)
print("The earliest tow films are: ",values['title'][0:2].tolist())

The earliest tow films are:  ['Miss Jerry', 'The Startled Lover']

### How many movies have the title "Hamlet"?

In [8]:
print('Movies with name "Hamlet":',titles['title'][titles['title'] == 'Hamlet'].shape[0])

Movies with name "Hamlet": 20

### How many movies are titled "North by Northwest"?

In [9]:
print('Movies with name "North by Northwest":',titles['title'][titles['title'] == 'North by Northwest'].shape[0])

Movies with name "North by Northwest": 1

### When was the first movie titled "Hamlet" made?

In [10]:
fir_haml = titles[titles['title']=='Hamlet']['year'].sort_values().iloc[0]
print('First movie titles "Hamlet" was made in', fir_haml)

First movie titles "Hamlet" was made in 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [11]:
titles[titles['title'] == 'Treasure Island'].sort_values(by = ['year'])

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [12]:
print('Total number of movies made in the year 1950 are ', titles[titles['year']==1950].shape[0])

Total number of movies made in the year 1950 are  1113

### How many movies were made in the year 1960?

In [13]:
print('Total number of movies made in the year 1950 are ', titles[titles['year']==1960].shape[0])

Total number of movies made in the year 1950 are  1549

In [14]:
titles[titles['year']< 1950].sort_values(by = ['year'],ascending=True)

                                                 title  year
193222                                      Miss Jerry  1894
51388                               The Startled Lover  1898
4584    Reproduction of the Corbett and Jeffries Fight  1899
78564                         Trouble in Hogan's Alley  1900
108586                            Family Troubles (II)  1900
...                                                ...   ...
93590                                         Hellfire  1949
159339                                     No Way Back  1949
63855                                          Abogada  1949
108130                                 Strange Bargain  1949
173723                            Soy charro de Levita  1949

[34981 rows x 2 columns]

### How many movies were made from 1950 through 1959?

In [15]:
print('Total movies which were made from 1950 through 1959:', titles[(titles['year']>=1950) & (titles['year']< 1959)].shape[0])

Total movies which were made from 1950 through 1959: 11419

### In what years has a movie titled "Batman" been released?

In [16]:
print('Batman movies was released in:', titles[titles['title']=='Batman']['year'].tolist())

Batman movies was released in: [1943, 1989]

### How many roles were there in the movie "Inception"?

In [17]:
casts = pd.read_csv('cast.csv')
casts.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [18]:
casts[casts['title']=='Inception']['character'].shape[0]

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [19]:
print('Total roles in movie "Inception" which was not ranked by an "n" value are:',casts[casts['title']=='Inception']['n'].isna().sum())

Total roles in movie "Inception" which was not ranked by an "n" value are: 27

### But how many roles in the movie "Inception" did receive an "n" value?

In [20]:
print('Total roles in movie "Inception" which was not ranked by an "n" value are:',casts[casts['title']=='Inception']['n'].notna().sum())

Total roles in movie "Inception" which was not ranked by an "n" value are: 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [21]:
casts[(casts['title']=="North by Northwest") & (casts['n'].isna()==False)].sort_values(by=['n'])

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [22]:
casts[(casts['title']=='Sleuth') & (casts['year']==1972)].sort_values(by= ['n'])

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [23]:
casts[(casts['title']=='Sleuth') & (casts['year']==2007)].sort_values(by= ['n'])

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [24]:
casts[(casts['title']=='Hamlet') & (casts['year']==1921)]['character'].tolist()

['Fortinbras,',
 'K?nig Hamlet',
 'Laertes',
 'Polonius',
 'Horatio',
 'Claudius',
 'K?nigin Gertrude',
 'Ophelia',
 'Hamlet']

### How many roles were credited in Branagh’s 1996 Hamlet?

In [25]:
print("The roles credited in Branagh's 1996 Hamlet",casts[(casts['title']=='Hamlet') & (casts['year']==1996)]['character'].tolist())

The roles credited in Branagh's 1996 Hamlet ['Attendant to Claudius', 'English Ambassador', 'Second Gravedigger', 'Attendant to Claudius', "Ghost of Hamlet's Father", 'Cadet in Play', 'Hamlet', 'Polonius', 'Priest', 'Attendant to Claudius', 'Laertes Mob', 'First Gravedigger', 'Stage Manager', 'Reynaldo', 'Guildenstern', 'Yorick', 'Lucianus', 'Old Fortinbras', 'Horatio', 'Francisco', 'Priam', 'Player King', 'Cornelius', 'Claudius', "Fortinbras's Captain", 'Marcellus', 'Elsinore Courtier', 'Laertes', 'Barnardo', 'Old Norway', 'Sailor Two', 'Pyrrhus', 'Young Lord', 'Boatman', 'Fortinbras', 'Rosencrantz', "Fortinbras's Captain", 'Young Hamlet', 'First Player', 'Voltimand', 'Osric', 'Sailor One', 'Alexander', 'Gertrude', 'Hecuba', 'Attendant to Gertrude', 'Doctor', 'Player Queen', 'Attendant to Gertrude', 'Attendant to Gertrude', 'Prologue', 'Prostitute', 'Second Player', 'Ophelia']

### How many "Hamlet" roles have been listed in all film credits through history?

In [26]:
print("The total number of 'Hamlet' roles listed in all film credits through history", casts[casts['title']=='Hamlet']['character'].shape[0])

The total number of 'Hamlet' roles listed in all film credits through history 342

### How many people have played an "Ophelia"?

In [27]:
casts[casts['title']=='Ophelia'].duplicated().sum()

0

In [28]:
print('Total people who have played in "Ophelia": ',casts[casts['title']=='Ophelia'].shape[0])

Total people who have played in "Ophelia":  20

### How many people have played a role called "The Dude"?

In [29]:
print('Total people who have played role of "The Dude": ',casts[casts['character']=='The Dude'].shape[0])

Total people who have played role of "The Dude":  19

### How many people have played a role called "The Stranger"?

In [30]:
print('Total people who have played in "The Stranger": ', casts[casts['character']=='The Stranger'].shape[0])

Total people who have played in "The Stranger":  212

### How many roles has Sidney Poitier played throughout his career?

In [31]:
print('Total roles played by Sidney Poitier throughout his career: ', casts[casts['name']=='Sidney Poitier']['character'].shape[0])

Total roles played by Sidney Poitier throughout his career:  43

### How many roles has Judi Dench played?

In [32]:
print('Total roles played by Judi Dench throughout his career: ', casts[casts['name']=='Judi Dench']['character'].shape[0])

Total roles played by Judi Dench throughout his career:  55

In [33]:
print(range(1940,1950))

range(1940, 1950)

In [34]:
casts['type'].unique()

array(['actor', 'actress'], dtype=object)

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [35]:
casts_1 = casts[(casts['n']==2) & (casts['name']=='Cary Grant')]
casts_1[(casts_1['year']>=1940) & (casts_1['year']<1949)].sort_values(by='year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [36]:
casts_2 = casts[(casts['name']=='Cary Grant') &(casts['n']==1) & (casts_1['year']>=1940) & (casts_1['year']<1949)]
print('the leading roles that Cary Grant played in the 1940s in order by year: ',casts_2.shape[0])

the leading roles that Cary Grant played in the 1940s in order by year:  0

### How many roles were available for actors in the 1950s?

In [37]:
print('Total roles available for actor in 1950s:',casts[(casts['type']=='actor') & (casts['year']>=1950) & (casts['year']<1959)].shape[0])

Total roles available for actor in 1950s: 144008

### How many roles were available for actresses in the 1950s?

In [38]:
print('Total roles available for actor in 1950s:',casts[(casts['type']=='actresses') & (casts['year']>=1950) & (casts['year']<1959)].shape[0])

Total roles available for actor in 1950s: 0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [39]:
print('Total leading roles(n=1) available for actor through 1980:',casts[(casts['n']==1) & (casts['year']<1979)].shape[0])

Total leading roles(n=1) available for actor through 1980: 62782

### How many non-leading roles were available through from the beginning of film history through 1980?

In [40]:
print('Total non-leading roles available for actor through 1980:',casts[(casts['n']!=1) & (casts['year']<1979)].notna().shape[0])

Total non-leading roles available for actor through 1980: 1074170

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [41]:
print('Total minor roles available through 1980:',casts[(casts['n'].isna()) & (casts['year']<1979)].shape[0])

Total minor roles available through 1980: 439421