In [2]:
%matplotlib inline
import pandas as pd

In [5]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

FileNotFoundError: [Errno 2] No such file or directory: 'style-table.css'

In [4]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [20]:
titles[['title']]

                                      title
0                        Tasveer Mere Sanam
1                                  Only You
2                      El pueblo del terror
3                                   Machine
4                                      MARy
...                                     ...
244909  Black Butterfly in a Colorful World
244910        Hua fei hua wu chun man cheng
244911                 Nippon dabi katsukyu
244912        Under Siege 2: Dark Territory
244913            She Must Be Seeing Things

[244914 rows x 1 columns]

### What are the earliest two films listed in the titles dataframe?

In [31]:
sort_data = titles.sort_values('year')
#lens.groupby('title').agg({'rating': [np.size, np.mean]})
sort_data.head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [37]:
titles_1 = titles.set_index('title')
result = titles_1.loc['Hamlet']
print(result.count())

year    20
dtype: int64

### How many movies are titled "North by Northwest"?

In [38]:
titles_2 = titles.set_index('title')
result = titles_2.loc['North by Northwest']
print(result.count())

1

### When was the first movie titled "Hamlet" made?

In [39]:
titles_1 = titles.set_index('title')
result = titles_1.loc['Hamlet']
first_hamlet = result.sort_values('year')
first_hamlet.head(1)

        year
title
Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [42]:
titles_2 = titles.set_index('title')
result_ti = titles_1.loc['Treasure Island']
treasure_island = result_ti.sort_values('year')
treasure_island

                 year
title
Treasure Island  1918
Treasure Island  1920
Treasure Island  1934
Treasure Island  1950
Treasure Island  1972
Treasure Island  1973
Treasure Island  1985
Treasure Island  1999

### How many movies were made in the year 1950?

In [48]:
result_1950 = titles[titles['year']== 1950]
print(result_1950.count())

title    1113
year     1113
dtype: int64

### How many movies were made in the year 1960?

In [49]:
result_1960 = titles[titles['year']== 1960]
print(result_1960.count())

title    1549
year     1549
dtype: int64

### How many movies were made from 1950 through 1959?

In [59]:
result_1950_59 = titles[(titles['year']> 1950) & (titles['year']< 1959)]
print(result_1950_59.count())

title    10306
year     10306
dtype: int64

### In what years has a movie titled "Batman" been released?

In [62]:
titles_1 = titles.set_index('title')
result = titles_1.loc['Batman']
first_batman = result.sort_values('year')
first_batman.head(1)

        year
title
Batman  1943

In [70]:
casts = pd.read_csv('data/cast.csv')
casts.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many roles were there in the movie "Inception"?

In [96]:
result_inc = casts[casts['title']== 'Inception']
print(result_inc.set_index(['title']).count())

year         78
name         78
type         78
character    78
n            51
dtype: int64

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [125]:
result_n = casts[casts['title']== 'Inception']
print("The total number of roles in the movie \"Inception\" are: ",result_n['title'].count())

The total number of roles in the movie "Inception" are:  78

### But how many roles in the movie "Inception" did receive an "n" value?

In [127]:
result_n = casts[(casts['title']== 'Inception') & (casts['n'].isnull()== True)]
print(result_n.count())

title        27
year         27
name         27
type         27
character    27
n             0
dtype: int64

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [158]:
result_nbn = casts[(casts['title']== 'North by Northwest') & (casts['n'].isnull()== False)]
print("Below is the list of cast from the movie \"North by Northwest\":")
result_nbn.sort_values('n').head(-1)['name']

Below is the list of cast from the movie "North by Northwest":

871426               Cary Grant
3518333         Eva Marie Saint
1457165             James Mason
3157232     Jessie Royce Landis
356707           Leo G. Carroll
3048272    Josephine Hutchinson
1695173             Philip Ober
1275337           Martin Landau
2447081           Adam Williams
1811387            Edward Platt
665768        Robert Ellenstein
2295714            Les Tremayne
464736          Philip Coolidge
1508344           Patrick McVey
206471             Edward Binns
Name: name, dtype: object

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [157]:
result_nbn = casts[(casts['title']== 'Sleuth') & (casts['year']== 1972)]
print("Below is the list of cast from the movie \"Sleuth\" of 1972:")
result_nbn.sort_values('n').head(-1)['name']

Below is the list of cast from the movie "Sleuth" of 1972:

1705394      Laurence Olivier
326773          Michael Caine
373876         Alec Cawthorne
1465483    John (II) Matthews
2724553    Eve (III) Channing
Name: name, dtype: object

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [156]:
result_nbn = casts[(casts['title']== 'Sleuth') & (casts['year']== 2007)]
print("Below is the list of cast from the movie \"Sleuth\" of 2007:")
result_nbn.sort_values('n').head(-1)['name']

Below is the list of cast from the movie "Sleuth" of 2007:

326774           Michael Caine
1293634               Jude Law
1805907          Harold Pinter
260242         Kenneth Branagh
373877     Alec (II) Cawthorne
2724552      Eve (II) Channing
Name: name, dtype: object

### How many roles were credited in the silent 1921 version of Hamlet?

In [137]:
result_nbn = casts[(casts['title']== 'Hamlet') & (casts['year']== 1921)]
print("Total number of roles credited in the silent version of the movie \"Hamlet\" in 1921:")
result_nbn.count()['character']

Total number of roles credited in the silent version of the movie "Hamlet" in 1921:

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [140]:
result_nbn = casts[(casts['title']== 'Hamlet') & (casts['title']== 'Branagh')]
print("Total number of roles credited in the Branagh's version of the movie \"Hamlet\" in 1996:")
result_nbn.count()['character']

Total number of roles credited in the Branagh's version of the movie "Hamlet" in 1996:

0

### How many "Hamlet" roles have been listed in all film credits through history?

In [160]:
result_hamlet_h = casts[(casts['title']== 'Hamlet')]
print("Total number of roles credit listed for the movie \"Hamlet\" through history:")
result_h = result_hamlet_h.drop_duplicates(subset = 'name')
result_h.count()['name']

Total number of roles credit listed for the movie "Hamlet" through history:

312

### How many people have played an "Ophelia"?

In [159]:
result_ophelia = casts[(casts['title']== 'Ophelia')]
print("Total number of roles played for the \"Ophelia\":")
result_o = result_ophelia.drop_duplicates(subset = 'name')
result_o.count()['name']

Total number of roles played for the "Ophelia":

19

### How many people have played a role called "The Dude"?

In [164]:
result_the_dude = casts[(casts['character']== 'The Dude')]
print("Total number of people who have played role of \"The Dude\":")
result_the_dude_1 = result_the_dude.drop_duplicates(subset = 'name')
result_the_dude_1.count()['name']

Total number of people who have played role of "The Dude":

19

### How many people have played a role called "The Stranger"?

In [167]:
result_the_stranger = casts[(casts['character']== 'The Stranger')]
print("Total number of people who have played role of \"The Stranger\":")
result_the_stranger_1 = result_the_stranger.drop_duplicates(subset = 'name')
result_the_stranger_1.count()['name']

Total number of people who have played role of "The Stranger":

202

### How many roles has Sidney Poitier played throughout his career?

In [176]:
result_sp = casts[(casts['name']== 'Sidney Poitier')]
print("Total number of roles played by \"Sidney Poitier\" throughout his career:")
result_sp_1 = result_sp.drop_duplicates(subset = 'character')
result_sp_1.count()['character']

Total number of roles played by "Sidney Poitier" throughout his career:

41

### How many roles has Judi Dench played?

In [196]:
result_jd = casts[(casts['name']== 'Judi Dench')]
print("Total number of roles played by \"Judi Dench\" :")
result_jd_1 = result_jd.drop_duplicates(subset = 'character')
result_jd_1.count()['character']

Total number of roles played by "Judi Dench" :

46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [237]:
result_cg = casts[(casts['name']== 'Cary Grant') & (casts['n']== 2) & (casts['year'].between(1940,1949))]
print("Total number of supporting roles played by \"Cary Grant\" with n=2 in 1940s :")
result_cg_1 = result_cg.drop_duplicates(subset = 'character').sort_values('year')
result_cg_1.count()['character']

Total number of supporting roles played by "Cary Grant" with n=2 in 1940s :

2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [239]:
result_cga = casts[(casts['name']== 'Cary Grant') & (casts['year'].between(1940,1949) & (casts['n']== 1))]
print("Total number of leading roles played by \"Cary Grant\" in 1940s :")
result_cga_1 = result_cga.sort_values('year')
result_cga_1.count()['character']

Total number of leading roles played by "Cary Grant" in 1940s :

18

### How many roles were available for actors in the 1950s?

In [215]:
result_act = casts[(casts['type']== 'actor') & (casts['year'].between(1950,1959))]
print("Total number of role available for the actore in 1950s :")
result_act_1 = result_act.drop_duplicates(subset = 'character')
result_act_1.count()['character']

Total number of role available for the actore in 1950s :

93369

### How many roles were available for actresses in the 1950s?

In [217]:
result_act = casts[(casts['type']== 'actresses') & (casts['year'].between(1950,1959))]
print("Total number of role available for the actore in 1950s :")
result_act_1 = result_act.drop_duplicates(subset = 'character')
result_act_1.count()['character']

Total number of role available for the actore in 1950s :

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [236]:
result_lead = casts[(casts['n']==1) & (casts['year'].between(1600,1980))]
print("Total number of leading roles available through 1980 :")
result_lead.count()['character']

Total number of leading roles available through 1980 :

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [242]:
result_lead = casts[(casts['n']!=1) & (casts['year'].between(1600,1980))]
print("Total number of non-leading roles available through 1980 :")
result_lead_1 = result_lead.drop_duplicates(subset = 'character')
result_lead_1.count()['character']

Total number of non-leading roles available through 1980 :

569572

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [244]:
result_minor = casts[(casts['n'].isnull()== True) & (casts['year'].between(1600,1980))]
print("Total number of minor roles available through 1980 :")
result_minor_1 = result_minor.drop_duplicates(subset = 'character')
result_minor_1.count()['character']

Total number of minor roles available through 1980 :

190694