In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [5]:
le = preprocessing.LabelEncoder()

In [6]:
df1 = df[['Survived','Pclass','Sex','SibSp','Parch','Embarked']]
df1

     Survived  Pclass     Sex  SibSp  Parch Embarked
0           0       3    male      1      0        S
1           1       1  female      1      0        C
2           1       3  female      0      0        S
3           1       1  female      1      0        S
4           0       3    male      0      0        S
..        ...     ...     ...    ...    ...      ...
884         0       2    male      0      0        S
885         1       1  female      0      0        S
886         0       3  female      1      2        S
887         1       1    male      0      0        C
888         0       3    male      0      0        Q

[889 rows x 6 columns]

In [7]:
df1['Sex'] = le.fit_transform(df1['Sex'])
df1['Embarked'] = le.fit_transform(df1['Embarked'])

<ipython-input-7-ab4fb79a3a05>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Sex'] = le.fit_transform(df1['Sex'])
<ipython-input-7-ab4fb79a3a05>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Embarked'] = le.fit_transform(df1['Embarked'])

In [8]:
df1

     Survived  Pclass  Sex  SibSp  Parch  Embarked
0           0       3    1      1      0         2
1           1       1    0      1      0         0
2           1       3    0      0      0         2
3           1       1    0      1      0         2
4           0       3    1      0      0         2
..        ...     ...  ...    ...    ...       ...
884         0       2    1      0      0         2
885         1       1    0      0      0         2
886         0       3    0      1      2         2
887         1       1    1      0      0         0
888         0       3    1      0      0         1

[889 rows x 6 columns]

**DV: Survived**

In [9]:
y = df1['Survived']
x = df1.drop(['Survived'], axis=1)

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.30, random_state = 0)

In [11]:
clf = BernoulliNB()

In [12]:
y_pred = clf.fit(x_train,y_train).predict(x_test)

In [13]:
accuracy_score(y_test,y_pred, normalize= True)

0.7715355805243446

In [14]:
confusion_matrix(y_test,y_pred)

array([[131,  26],
       [ 35,  75]], dtype=int64)

**DV: Pclass**

In [15]:
y = df1['Pclass']
x = df1.drop(['Pclass'], axis=1)

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.30, random_state = 0)

In [17]:
y_pred1 = clf.fit(x_train,y_train).predict(x_test)

In [18]:
accuracy_score(y_test,y_pred1, normalize= True)

0.5880149812734082

In [19]:
confusion_matrix(y_test,y_pred1)

array([[ 26,  10,  34],
       [  8,  10,  31],
       [ 20,   7, 121]], dtype=int64)

**DV: Sex**

In [20]:
y = df1['Sex']
x = df1.drop(['Sex'], axis=1)

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.30, random_state = 0)

In [22]:
y_pred2 = clf.fit(x_train,y_train).predict(x_test)

In [23]:
accuracy_score(y_test,y_pred2, normalize= True)

0.7453183520599251

In [24]:
confusion_matrix(y_test,y_pred2)

array([[ 49,  49],
       [ 19, 150]], dtype=int64)

**DV: SibSp**

In [25]:
y = df1['SibSp']
x = df1.drop(['SibSp'], axis=1)

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.30, random_state = 0)

In [27]:
y_pred3 = clf.fit(x_train,y_train).predict(x_test)

In [28]:
accuracy_score(y_test,y_pred3, normalize= True)

0.6891385767790262

In [29]:
confusion_matrix(y_test,y_pred3)

array([[162,  20,   0,   0,   0,   0,   0],
       [ 43,  22,   0,   0,   0,   0,   0],
       [  6,   2,   0,   0,   0,   0,   0],
       [  5,   2,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0,   0],
       [  1,   0,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0,   0]], dtype=int64)

**DV: Parch**

In [30]:
y = df1['Parch']
x = df1.drop(['Parch'], axis=1)

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.30, random_state = 0)

In [32]:
y_pred4 = clf.fit(x_train,y_train).predict(x_test)

In [33]:
accuracy_score(y_test,y_pred4, normalize= True)

0.7153558052434457

In [34]:
confusion_matrix(y_test,y_pred4)

array([[182,  16,   0,   0,   0],
       [ 31,   9,   0,   0,   0],
       [ 24,   3,   0,   0,   0],
       [  1,   0,   0,   0,   0],
       [  1,   0,   0,   0,   0]], dtype=int64)

**DV: Embarked**

In [35]:
y = df1['Embarked']
x = df1.drop(['Embarked'], axis=1)

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.30, random_state = 0)

In [37]:
y_pred5 = clf.fit(x_train,y_train).predict(x_test)

In [38]:
accuracy_score(y_test,y_pred5, normalize= True)

0.7340823970037453

In [39]:
confusion_matrix(y_test,y_pred5)

array([[  0,   0,  49],
       [  0,   0,  22],
       [  0,   0, 196]], dtype=int64)