In [1]:
import pandas as pd
dataset = pd.read_csv('SVMtrain.csv')

In [2]:
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [3]:
from sklearn import svm

In [4]:
le = preprocessing.LabelEncoder()

In [5]:
dataset.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [6]:
dataset.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [7]:
dataset['Sex'] = le.fit_transform(dataset['Sex'])
dataset['Embarked'] = le.fit_transform(dataset['Embarked'])

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    int32
 3   Age       889 non-null    float64
 4   SibSp     889 non-null    int64
 5   Parch     889 non-null    int64
 6   Fare      889 non-null    float64
 7   Embarked  889 non-null    int32
dtypes: float64(2), int32(2), int64(4)
memory usage: 48.7 KB

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
dataset

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
884         0       2    1  27.0      0      0  13.0000         2
885         1       1    0  19.0      0      0  30.0000         2
886         0       3    0  45.0      1      2  23.4500         2
887         1       1    1  26.0      0      0  30.0000         0
888         0       3    1  32.0      0      0   7.7500         1

[889 rows x 8 columns]

**SVM Implementation for getting Accuracy Score and Confusion Matrix**

In [11]:
for feature in dataset.columns.tolist():
        y=dataset[feature]
        x = dataset.drop(feature, axis=1)
        if ('Age' in x.columns.tolist() and 'Fare' in x.columns.tolist()): 
            x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.30, random_state=0)
            df= svm.SVC(gamma=0.01, C=100)
            df.fit(x_train, y_train)
            y_pred = df.predict(x_test)
            print(f"The accuracy score for feature '{feature}' : {round(accuracy_score(y_test, y_pred)*100,3)}%")
            print(f"Confusion Matrix for {feature}:\n {confusion_matrix(y_test, y_pred)}\n")
        else:
            print(f'{feature} is continous and cannot be considered as Dependent Variable\n')

The accuracy score for feature 'Survived' : 74.157%
Confusion Matrix for Survived:
 [[124  33]
 [ 36  74]]

The accuracy score for feature 'Pclass' : 90.262%
Confusion Matrix for Pclass:
 [[ 64   4   2]
 [  4  36   9]
 [  1   6 141]]

The accuracy score for feature 'Sex' : 72.659%
Confusion Matrix for Sex:
 [[ 66  32]
 [ 41 128]]

Age is continous and cannot be considered as Dependent Variable

The accuracy score for feature 'SibSp' : 74.906%
Confusion Matrix for SibSp:
 [[150  24   7   0   1   0   0]
 [ 21  39   5   0   0   0   0]
 [  4   1   3   0   0   0   0]
 [  0   2   1   3   1   0   0]
 [  0   0   0   0   2   0   0]
 [  0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   2]]

The accuracy score for feature 'Parch' : 79.775%
Confusion Matrix for Parch:
 [[187   6   5   0   0   0]
 [ 21  15   3   0   0   1]
 [ 10   6  11   0   0   0]
 [  0   0   1   0   0   0]
 [  1   0   0   0   0   0]
 [  0   0   0   0   0   0]]

Fare is continous and cannot be considered as Dependent Variable

The accuracy score for feature 'Embarked' : 76.779%
Confusion Matrix for Embarked:
 [[ 23   2  24]
 [  0   8  14]
 [ 18   4 174]]